<div>
    <p align="center">
        <img width="200" src="{{img1}}" /> <img width="200" src="{{img2}}" /> <img width="200" src="{{img3}}" />
    </p>
    <p align="center">
        Above are the last 3 pictures posted by
        <a href="https://www.instagram.com/visitpetersburg/" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1024px-Instagram_logo_2016.svg.png" width="20"/> @visitpetersburg!
        </a>
    </p>
    <p align="center">
        Currently, the weather is: <b> {{city_temperature}}°C, <i>{{city_weather}}</i></b>
        </br>
        Today, the sun rises at <b>{{sun_rise}}</b> and sets at <b>{{sun_set}}</b>.
    </p>
</div>