<div id="contacts_travel_block_id" align="center" style="align-content: center; text-align:center; margin: 20px 20px"">
    <p align="center" style="text-align:center;">
        <img width="200" src="{{img1_src}}" alt="{{img1_alt}}" />
        <img width="200" src="{{img2_src}}" alt="{{img2_alt}}" />
        <img width="200" src="{{img3_src}}" alt="{{img3_alt}}" />
        <img width="200" src="{{img4_src}}" alt="{{img4_alt}}" />
    </p>
    <p align="center" style="text-align:center;">
        Above are the latest pictures posted by
        <a href="https://www.instagram.com/visitpetersburg/" target="_blank">
            <img src="https://raw.githubusercontent.com/AlexRogalskiy/AlexRogalskiy/master/images/social/instagram.svg" width="20" height="20" alt="Instagram photos" />
            <span style="font:italic bold 12px/30px Georgia, serif;"><i><b>@visitpetersburg!</b></i></span>
        </a>
    </p>
    <p align="center" style="text-align:center;">
        Currently, the weather in Saint-Petersburg is: <b>{{city_temperature}}°C (<i>{{city_weather}}</i>), humidity: {{city_humidity}}%, pressure: {{city_pressure}} (mbar), wind: {{city_wind}} (m/s), cloudy: {{city_clouds}}%</b>
        </br>
        Today, the sun rises at <b>{{sun_rise}} am</b> and sets at <b>{{sun_set}} pm</b>.
    </p>
</div>