<div id="weather_block_id" align="center" style="align-content: center; text-align:center; margin: 20px 20px">
    <p align="center" style="text-align:center;">
        Currently, the weather in Saint-Petersburg is:
        <br />
        <b>{{temperature}}°C (<i>{{weather}}</i>), humidity: {{humidity}}%, pressure: {{pressure}} (mbar), wind: /{{wind_direction}}/ {{wind}} (m/s), cloudy: {{clouds}}%</b>
        <br />
        Today, the Sun rises at <b>{{sunrise}} am</b> and sets at <b>{{sunset}} pm</b>.
    </p>
</div>
